.notify_window {
    transition: opacity 250ms;
}

.notify_window.hide {
    opacity: 0;
}

.notify_window > .box {
    position: absolute;
    
    width: 600px;
    min-height: 150px;
    height: max-content;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 20px;
    
    border-radius: 15px;

    background-color: rgb(240, 240, 240);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;

    transition: transform 250ms;
}

.notify_window.hide > .box {
    transform: translate(-50%, -50%) scale(0.8);
}

.notify_window > .box > .title {
    margin: 0;
    font-size: 25px;
}

.notify_window > .box > main {
    display: flex;
    align-items: center;
    justify-content: center;

    color: black;
    font-size: 16px;

    flex-grow: 1;
}

.notify_window > .box > main input {
    padding: 5px 8px;
    border-radius: 5px;
    
    border: none;
    outline: none;

    font-size: 16px;
    
    background-color: rgba(0, 0, 0, 0.05);
}

.notify_window > .box > .buttons {
    margin-top: 5px;
    
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: flex-end;
    gap: 0 5px;
}

.notify_window > .box > .buttons > button {
    padding: 8px 15px;
    
    font-size: 15px;

    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    border: none;

    cursor: pointer;
}

.notify_window > .box > .buttons > button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#folder-name-input {
    width: 400px;
    margin: 5px 0;
}

#folder-name-input::placeholder {
    font-size: 13px;
}